@model IEnumerable<MyShop.Core.ViewModels.BasketItemViewModel>

@{
    ViewBag.Title = "Basket";
}

<h4>Basket</h4>

<table class="table">
    <tr>
        <th>
            Product Images
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Line Total
        </th>

    </tr>

@foreach (var item in Model) {
<tr>
    <td><img class="img" height="50px" src="~/Content/ProductImages/@item.Image" /></td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @String.Format("{0:c}", item.Price)
    </td>
    <td>
        <span>
            <a style="color:red;" href="@Url.Action("AddOrRemoveProductToBasket", "Basket", new { basketItemId = item.Id, isAdded = false})">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
        </span>
        @Html.DisplayFor(modelItem => item.Quantity)
        <span>
            <a style="color:limegreen;" href="@Url.Action("AddOrRemoveProductToBasket", "Basket", new { basketItemId = item.Id, isAdded = true})">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </span>
    </td>

    <td>
        @String.Format("{0:c}", item.Price * item.Quantity)
    </td>
    <td>
        <a href="@Url.Action("RemoveFromBasket", "Basket", new { id = item.Id})" class="btn btn-danger">Delete</a>
    </td>
</tr>
}
    <tr>
        <td colspan="4" style="text-align : right"><strong>Basket Total</strong></td>
        <td>@String.Format("{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</td>
        <td><a href="@Url.Action("Checkout", "Basket")">Checkout</a></td>
    </tr>
</table>
